/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Lato';
  margin: 0;
  text-align: center;
  background-color: #F5F3F0;
  color: #643853;
  text-align: left;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
  height: 40%;
  clear: left;
}

.nav {
  position: relative;
  float: left;
  width: 20%;
  height: 40%;
  margin-top: 5%;
  text-align: center;
}

.nav-heading {
  color: #D45F5A;
}

.nav-heading:hover {
  color: #643853;
}

.nav-middle {
  position: relative;
  float: left;
  width: 60%;
  height: 40%;
  text-align: center;
}

a {
  color: #D45F5A;
  text-decoration: underline;
  text-decoration-style: double;
}

a:hover {
  color: #643853;
  text-decoration: underline;
  text-decoration-style: double;
}

ul.menu {
  list-style-type: none;
}

li.menu {
  position: relative;
  float: left;
  margin-left: 10%;
}

.header {
  color: #D45F5A;
  font-family: 'Inconsolata';
}

.header a {
  color: #D45F5A;
  text-decoration: none;
}

.header a:hover {
  color: #643853;
  text-decoration: none;
}


button {
  border: none;
  color: #643853;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;

}

button:hover {
  border: none;
  color: #D45F5A;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

.tag {
  font-size: 10px;
  color: #F5F3F0;
  font-weight: bold;
}

ul.tag {
  padding: 0;
  list-style-type: none;
}

li.tag {
  position: relative;
  float: left;
  margin-right: 5px;
}

.tag-rectangle {
  float: left;
  border-radius: 2px;
  padding: 3px;
  height: 10px;
  background: #643853;
}

.entry-component {
  float: left;
  clear: both;
}

.entry {
  float: left;
  clear: both;
}

.about {
  float: left;
  margin: 3%;
}

.about img {
  max-width: 250px;
  margin-top: 0%;
}

.about-content {
  position: relative;
  float: left;
}
